BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
FixNamespaceComments: true
NamespaceIndentation: All

IndentCaseLabels: true
SeparateDefinitionBlocks: Always

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments: true

PackConstructorInitializers: BinPack
ConstructorInitializerIndentWidth: 4

Standard: c++17

# CUDA-friendly bits
QualifierAlignment: Left
SpaceBeforeSquareBrackets: false
DeriveLineEnding: false
AllowShortCaseLabelsOnASingleLine: false
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyReturnTypeOnItsOwnLine: 60
